{% extends "index.html" %}

{% block body %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="w-100" style="max-width: 400px;">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="text-center mb-4">Login</h2>
          <form  method="POST">
           
            
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" name="password" class="form-control" required>
            </div>

            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <p class="text-center">
              Don't have an account?
              <a href="{% url 'signin' %}">Sign up</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}